
/* CHECK IN TIME */
.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: #4f8c8c;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #4f8c8c;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #477a7a;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #477a7a;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background:#94acac;
}

.select-box .label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}


  
/* CHECK OUT TIME */
.select-boxq {
  display: flex;
  flex-direction: column;
}

.select-boxq .options-containerq {
  background: #4f8c8c;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0px;
  overflow: hidden;
  order: 1;
}

.selectedq {
  background: #4f8c8c;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  
  order: 0;
}

.selectedq::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-boxq .options-containerq.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-boxq .options-container.activeq + .selectedq::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-boxq .options-containerq::-webkit-scrollbar {
  width: 8px;
  background: #477a7a;
  border-radius: 0 8px 8px 0;
}

.select-boxq .options-containerq::-webkit-scrollbar-thumb {
  background: #477a7a;
  border-radius: 0 8px 8px 0;
}

.select-boxq .optionq,
.selectedq {
  padding: 12px 24px;
  cursor: pointer;
}

.select-boxq .optionq:hover {
  background:#94acac ;
}

.select-boxq .label {
  cursor: pointer;
}

.select-boxq .optionq .radioq {
  display: none;
}

  

/* CALENDAR COMPONENTS */
.banner_search{
  display: flex;
  flex-direction: column;
  
}

.banner_searchButton{
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
  width: 100%;
  /* height: 58px; */
  margin-top: 10px;
}